############
## Server Config Profile "default"
##

profile_name = Default
display_minimap_radar = false
cave_mode_allowed = true
cave_mode_allowed_dimensions = [minecraft:the_nether, deeperdarker:otherside, the_bumblezone:the_bumblezone]
